@media screen {
    payment-line .red {
        color: #B71C1C;
    }

    payment-line .green {
        color: #1B5E20;
    }

    payment-line .to-pay {
        font-family: 'Roboto', serif;
    }
}