<section layout="column" layout-align="center center">

    <md-content class="md-whiteframe-z1 content-block">

        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2><span translate>{{'tasks' | translate}}</span></h2>
            </div>
        </md-toolbar>

        <md-content layout="row" layout-align="center start">

            <md-list ng-show="attention.length > 0" flex="50">
                <md-subheader class="md-no-sticky">{{'new cheques' | translate}}</md-subheader>
                <md-list-item class="md-3-line" ng-repeat="cheque in attention">
                    <md-card>
                        <md-card-title layout="row" layout-align="space-between center">
                            <md-card-title-text>
                                <span class="md-headline">{{'cheque' | translate}} №{{ cheque.id }} {{'receipt' | translate}} {{ cheque.receiptDate |  amDateFormat:'DD.MM.YYYY'}}</span>
                                <span class="md-subhead" ng-show="cheque.warrantyStatus">Гарантия</span>
                                <span class="md-subhead" ng-hide="cheque.warrantyStatus">Не гарантия</span>
                                <span class="md-subhead">{{'Customer' | translate}}: {{ cheque.customerName }}</span>
                                <span class="md-subhead">{{'master' | translate}}: {{ cheque.engineer.fullname }}</span>
                                <span class="md-subhead">{{ cheque.productName }}, {{cheque.modelName}}, {{cheque.serialNumber}}</span>
                            </md-card-title-text>

                            <md-button type="button" class="md-icon-button" ui-sref="cheque.edit({chequeId:cheque.id})">
                                <md-icon md-font-set="material-icons">open_in_browser</md-icon>
                            </md-button>

                        </md-card-title>
                    </md-card>
                </md-list-item>
            </md-list>

            <md-list ng-show="delay.length > 0" flex="50">
                <md-subheader class="md-no-sticky">{{'cheques with delay' | translate}}</md-subheader>
                <md-list-item class="md-3-line" ng-repeat="cheque in delay">
                    <md-card>
                        <md-card-title layout="row" layout-align="space-between center">
                            <md-card-title-text>
                                <span class="md-headline">{{'cheque' | translate}} №{{ cheque.id }} {{'receipt' | translate}} {{ cheque.receiptDate |  amDateFormat:'DD.MM.YYYY'}}</span>
                                <span class="md-subhead" ng-show="cheque.warrantyStatus">Гарантия</span>
                                <span class="md-subhead" ng-hide="cheque.warrantyStatus">Не гарантия</span>
                                <span class="md-subhead">{{'Customer' | translate}}: {{ cheque.customerName }}</span>
                                <span class="md-subhead">{{'master' | translate}}: {{ cheque.engineer.fullname }}</span>
                                <span class="md-subhead">{{ cheque.productName }}, {{cheque.modelName}}, {{cheque.serialNumber}}</span>
                            </md-card-title-text>

                            <md-button type="button" class="md-icon-button" ui-sref="cheque.edit({chequeId:cheque.id})">
                                <md-icon md-font-set="material-icons">open_in_browser</md-icon>
                            </md-button>
                        </md-card-title>
                    </md-card>
                </md-list-item>
            </md-list>

        </md-content>

    </md-content>

</section>