@media screen {

    dashboard md-list md-list-item.md-3-line {
        height: auto;
    }

    dashboard div.md-list-item-text {
        padding: 0.5rem;
    }

    dashboard md-card md-card-title md-card-title-text .md-headline {
        text-align: center;
        font-size: 16px;
    }

    dashboard md-card md-card-title md-card-title-text:only-child .md-subhead {
        padding-top: 0;
        color: rgba(0,0,0,0.57);
    }

    dashboard md-card {
        width: 30rem;
    }

    dashboard md-card md-card-title {
        padding: 16px 16px;
    }

    dashboard span.md-subheader-content {
        font-size: 20px;
    }
}