<section layout="column" layout-align="center center">

    <md-content class="md-whiteframe-z1 content-block">

        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2><span translate>{{'tasks' | translate}}</span></h2>
            </div>
        </md-toolbar>

        <md-content>

            <md-list>

                <span ng-show="attention.length > 0">
                    <md-subheader class="md-no-sticky">{{'new cheques' | translate}}</md-subheader>
                    <md-list-item class="md-3-line" ng-repeat="cheque in attention">
                        <div class="md-list-item-text" layout="column" ui-sref="cheque.edit({chequeId:cheque.id})">
                            <h3>{{'cheque' | translate}} №{{ cheque.id }}</h3>
                            <h4 ng-show="cheque.warrantyStatus">Гарантия</h4>
                            <h4 ng-hide="cheque.warrantyStatus">Не гарантия</h4>
                            <h4>{{'Introduced' | translate}}: {{ cheque.receiptDate |  amDateFormat:'DD.MM.YYYY'}}</h4>
                            <p>{{'Customer' | translate}}: {{ cheque.customerName }}</p>
                            <p>{{'Name of Product' | translate}}: {{ cheque.productName }}, {{cheque.modelName}}, {{cheque.serialNumber}}</p>
                        </div>
                    </md-list-item>
                    <md-divider ></md-divider>
                </span>

                <span ng-show="delay.length > 0">
                    <md-subheader class="md-no-sticky">{{'cheques with delay' | translate}}</md-subheader>
                    <md-list-item class="md-3-line" ng-repeat="cheque in delay">
                        <div class="md-list-item-text" layout="column" ui-sref="cheque.edit({chequeId:cheque.id})">
                            <h3>{{'cheque' | translate}} №{{ cheque.id }}</h3>
                            <h4 ng-show="cheque.warrantyStatus">Гарантия</h4>
                            <h4 ng-hide="cheque.warrantyStatus">Не гарантия</h4>
                            <h4>{{'Introduced' | translate}}: {{ cheque.receiptDate |  amDateFormat:'DD.MM.YYYY'}}</h4>
                            <p>{{'Customer' | translate}}: {{ cheque.customerName }}</p>
                            <p>{{'Name of Product' | translate}}: {{ cheque.productName }}, {{cheque.modelName}}, {{cheque.serialNumber}}</p>
                        </div>
                    </md-list-item>
                    <md-divider ></md-divider>
                </span>
            </md-list>

        </md-content>

    </md-content>

</section>