<section layout="column" layout-align="center center" flex>

    <section class="content-block md-whiteframe-z1">

        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2><span>Users</span></h2>
            </div>
        </md-toolbar>

        <md-content md-theme="header">
            <md-tabs md-border-bottom md-autoselect>
                <md-tab ng-repeat="user in users"
                        label="{{user.fullName}}">
                    <div>
                        <pre>{{user | json}}</pre>
                    </div>
                </md-tab>
            </md-tabs>
        </md-content>

    </section>

    <md-content class="content-block md-whiteframe-z1">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2><span>Currency rates</span></h2>
            </div>
        </md-toolbar>

        <form ng-submit="setRates()" layout="column" layout-align="center center" layout-padding>

            <md-list layout="row">
                <md-list-item class="day" ng-repeat="rate in rates" layout="row" layout-wrap>
                    <div class="md-item-text md-whiteframe-z1" flex>
                        <h3>{{rate.id | amDateFormat: 'll'}}</h3>
                        <md-input-container>
                            <label>USD</label>
                            <input type="number" step="0.01" ng-model="rate.usd">
                        </md-input-container>
                        <md-input-container>
                            <label>UAH</label>
                            <input type="number" step="0.01" ng-model="rate.uah">
                        </md-input-container>
                        <md-input-container>
                            <label>EUR</label>
                            <input type="number" step="0.01" ng-model="rate.eur">
                        </md-input-container>
                    </div>
                </md-list-item>
            </md-list>

            <md-button class="md-raised md-primary" type="submit">
                Save
            </md-button>

        </form>

    </md-content>

</section>