@media screen {

    photo-block .drop-box {
        z-index: 100;
        position: absolute;
        opacity: 0;
        background: #212121;
        width: 100%;
        height: 100%;
        text-align: center;
        font-size: 20px;
        color: #D7D7D7;
    }

    photo-block .drop-box.dragover {
        opacity: 100;
        height: 301px;
    }

    photo-block .photo-content {
        min-height: 237px;
    }

    photo-block .photo {
        padding: 10px 5px;
    }

    photo-block .photo:first-child {
        padding-left: 10px;
    }

    photo-block .photo:last-child {
        padding-right: 10px;
    }

}