<md-content class="md-whiteframe-z1">

    <md-toolbar>

        <div ngf-drop ngf-select
             ng-model="files"
             class="drop-box md-whiteframe-6dp"
             ngf-drag-over-class="dragover"
             ngf-multiple="true"
             ngf-allow-dir="true"
             accept="image/*"
             ngf-pattern="'image/*'"
             layout="column"
             layout-align="center center">
            <span>{{"drop photographies here" | translate}}</span>
        </div>

        <div class="md-toolbar-tools">
            <h2>
                <span>{{'photographies' | translate}}</span>
            </h2>
        </div>
    </md-toolbar>

    <md-content class="photo-content">

        <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>

        <md-content layout="column">

            <!--<img ngf-thumbnail="file"-->
                 <!--ng-repeat="file in files"-->
                 <!--class="photo"-->
                 <!--ngf-size="{width: 200, height: 200, quality: 0.9}">-->

            <div ng-repeat="photo in photos" style="padding: 10px" ng-click="openPhoto(photo.id)">{{photo.name}}</div>

        </md-content>

    </md-content>

</md-content>

<pre>{{files | json}}</pre>