@media screen {

    photo-block .drop-box {
        cursor: pointer;
    }

    photo-block .drop-box.dragover {
        background: #D6D6D6;
    }

    photo-block .photo {
        padding: 10px 5px;
    }

    photo-block .photo:first-child {
        padding-left: 10px;
    }

    photo-block .photo:last-child {
        padding-right: 10px;
    }

    photo-block .inner-block {
        margin: 0.5rem 0;
    }

    photo-block md-list {
        padding: 0;
    }

    photo-block .md-button .md-ripple-container,
    photo-block .md-button {
        border-radius: 0;
    }

    photo-block md-list-item a.md-button {
        margin: 0;
    }

    photo-block md-list-item {
        margin: 0.2rem 0;
    }

}