<section layout="column" layout-align="center center" layout-wrap>

    <div class="alert alert-danger" ng-show="error">
        There was a problem logging in. Please try again.
    </div>

    <form role="form" ng-submit="login()" layout="column" layout-align="center center" class="md-whiteframe-z1">

        <md-toolbar>
            <h2 class="md-toolbar-tools">
                {{'authorization' | translate}}
            </h2>
        </md-toolbar>

        <md-content layout-padding class="first">
            <md-input-container class="md-icon-float">
                <label>{{'username' | translate}}</label>
                <md-icon md-font-set="material-icons">people</md-icon>
                <input ng-model="credentials.username" id="username" name="username">
            </md-input-container>
        </md-content>

        <md-content layout-padding>
            <md-input-container class="md-icon-float">
                <label>{{'password' | translate}}</label>
                <md-icon md-font-set="material-icons">lock</md-icon>
                <input ng-model="credentials.password" id="password" name="password" type="password">
            </md-input-container>
        </md-content>

        <md-content layout-padding>
            <md-button type="submit" class="md-raised md-primary">{{'login' | translate}}</md-button>
        </md-content>

    </form>

</section>