@media screen {
    login-page section {
        height: 70%;
    }

    login-page md-content.layout-padding {
        padding: 8px 80px;
    }

    login-page form md-content.first{
        padding-top: 30px;
    }

    login-page div[vc-recaptcha] {
        zoom: 117%;
    }

}