@media screen {
    table-data table[md-data-table]:not([md-row-select]) > thead:not([md-table-progress]) > tr > th:first-child,
    table-data table[md-data-table]:not([md-row-select]) > tbody > tr > td:first-child {
        padding: 5px 5px 5px 15px;
    }

    table-data table[md-data-table]:not([md-row-select]) > thead:not([md-table-progress]) > tr > th:nth-child(n+2):nth-last-child(n+2),
    table-data table[md-data-table]:not([md-row-select]) > tbody > tr > td:nth-child(n+2):nth-last-child(n+2) {
        padding: 5px 5px;
    }

    table-data table[md-data-table] > tbody > tr > td:last-child,
    table-data table[md-data-table] > thead:not([md-table-progress]) > tr > th:last-child {
        padding: 5px 5px 5px 5px;
    }

    table-data #table[md-data-table] > tbody > tr > td {
        cursor: pointer;
    }

    table-data .table-block {
        margin: 0.5rem 2rem;
    }

    table-data tr {
        outline: none;
    }

    table-data table.md-table:not(.md-row-select) th.md-column:nth-child(n+2):nth-last-child(n+2),
    table-data table.md-table:not(.md-row-select) td.md-cell:nth-child(n+2):nth-last-child(n+2) {
        padding: 0 12px 0 0;
    }

    table-data table tr.cheque {
        cursor: pointer;
    }

    table-data table tr.cheque:hover {
        background: #f2f2f2;
    }

    table-data table tr.cheque.recent:hover {
        background: #FFF9C4;
    }

    table-data table tr.cheque.delay:hover {
        background: #CFD8DC;
    }

    table-data .md-table-pagination {
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    table-data .recent {
        background: #FFFDE7;
    }

    table-data .delay {
        background: #ECEFF1;
    }
}