<section class="table-block md-whiteframe-z1">

    <md-toolbar>
        <h2 class="md-toolbar-tools">
            <span translate>Checks</span>
        </h2>
    </md-toolbar>

    <md-table-container>
        <table md-table id="table">
            <thead md-head md-order="$root.tableFilter.sort" md-on-reorder="mdOnReorder">
            <tr md-row>
                <th md-column md-order-by="id">{{'Id'| translate}}</th>
                <th md-column md-order-by="customerName">{{'Customer'| translate}}</th>
                <th md-column md-order-by="receiptDate">{{'Introduced'| translate}}</th>
                <th md-column md-order-by="productName">{{'Name of Product'| translate}}</th>
                <th md-column md-order-by="modelName">{{'Model'| translate}}</th>
                <th md-column md-order-by="serialNumber">{{'Serial Number'| translate}}</th>
                <th md-column md-order-by="representativeName">{{'Purchaser'| translate}}</th>
                <th md-column md-order-by="secretary.fullname">{{'Inspector'| translate}}</th>
                <th md-column md-order-by="engineer.fullname">{{'master'| translate}}</th>
                <th md-column md-order-by="warrantyDate">{{'Guarantee'| translate}}</th>
                <th md-column md-order-by="readyDate">{{'Ready'| translate}}</th>
                <th md-column md-order-by="returnedToClientDate">{{'Issued'| translate}}</th>
                <th md-column md-order-by="actVisualInspection"></th>

            </tr>
            </thead>
            <tbody md-body>
            <tr md-row class="cheque" ng-repeat="cheque in $root.page.content"
                ng-class="{recent: cheque.chequeRecencyStatus && !cheque.actVisualInspection, delay: cheque.chequeDelayStatus && !cheque.actVisualInspection}"
                ng-click="open($event, cheque.id)" ui-sref="cheque.edit({chequeId:cheque.id})">
                <td md-cell>{{cheque.id}}</td>
                <td md-cell>{{cheque.customerName}}</td>
                <td md-cell>{{cheque.receiptDate | amDateFormat:'DD.MM.YYYY'}}</td>
                <td md-cell>{{cheque.productName}}</td>
                <td md-cell>{{cheque.modelName}}</td>
                <td md-cell>{{cheque.serialNumber}}</td>
                <td md-cell>{{cheque.representativeName}}</td>
                <td md-cell>{{cheque.secretary.fullname}}</td>
                <td md-cell>{{cheque.engineer.fullname}}</td>
                <td md-cell>{{cheque.warrantyDate | amDateFormat:'DD.MM.YYYY'}}</td>
                <td md-cell>{{cheque.readyDate | amDateFormat:'DD.MM.YYYY'}}</td>
                <td md-cell>{{cheque.returnedToClientDate | amDateFormat:'DD.MM.YYYY'}}</td>
                <td md-cell style="text-align:center;">
                    <md-icon ng-if="cheque.actVisualInspection" md-font-set="material-icons">shopping_cart</md-icon>
                    <md-icon ng-if="cheque.chequeRecencyStatus && !cheque.actVisualInspection" md-font-set="material-icons">visibility</md-icon>
                    <md-icon ng-if="cheque.chequeDelayStatus && !cheque.actVisualInspection" md-font-set="material-icons">error</md-icon>
                </td>
            </tr>
            </tbody>
        </table>
    </md-table-container>

    <md-table-pagination
                         md-label="{{label}}"
                         md-options="[15, 20, 30, 40, 50]"
                         md-limit="$root.tableFilter.size"
                         md-page="$root.tableFilter.page"
                         md-total="{{$root.page.totalElements}}"
                         md-on-paginate="mdOnPaginate"
                         md-boundary-links>
    </md-table-pagination>

</section>