<md-content class="comment-form">

    <form name="commentsForm" ng-submit="saveComment()" layout="column" layout-align="center center" layout-padding
            ng-show="type === 'notes' || type === 'diagnostics' && security.hasAnyRole(['ROLE_ADMIN', 'ROLE_BOSS', 'ROLE_ENGINEER'])">

        <md-input-container>
            <textarea ng-model="comment.text" rows="2" aria-label="commentText" required></textarea>
        </md-input-container>

        <md-button class="md-raised md-primary" type="submit" ng-disabled="form.$invalid">
            <span translate>Send</span>
        </md-button>

    </form>

</md-content>

<md-divider></md-divider>

<md-content layout-align="center start" class="comments">

    <md-list class="comments-list">
        <md-list-item class="md-3-line"
                      ng-repeat="comment in cheque[type] | orderBy: '-date' | limitTo: limit">

            <md-content layout="row" flex>
                <md-content class="md-list-item-text" flex>
                    <h3>{{comment.user.fullname}}</h3>
                    <h4>{{comment.date | amDateFormat:'lll'}}</h4>
                    <p>{{comment.text}}</p>
                </md-content>

                <md-content layout="column" layout-align="center center" flex="5" ng-show="security.hasRole('ROLE_ADMIN')">
                    <md-button class="md-icon-button" ng-click="deleteComment(comment.id, $event)">
                        <md-icon md-font-set="material-icons">delete</md-icon>
                    </md-button>
                </md-content>

                <md-divider md-inset ng-if="!$last"></md-divider>
            </md-content>

        </md-list-item>
    </md-list>

    <md-button ng-click="limitComments()"
               du-smooth-scroll="show-more"
               class="bottom-toolbar"
               layout="column"
               ng-show="addedLesserThanElem()"
               layout-padding
               layout-align="center center">
        <div class="text">{{bottomButton | translate}}</div>
    </md-button>

</md-content>
