<md-content md-theme="header" layout="column" layout-align="space-between stretch" ng-show="authenticated()" class="toolbar">

    <md-content layout="row" layout-align="space-between end">
        <md-tabs md-selected="selectedTab" md-dynamic-height md-border-bottom flex="50">
            <md-tab ui-sref="cheque.filter" ng-disabled="!authenticated()">{{'Filters' | translate}}</md-tab>
            <md-tab ui-sref="cheque.create" ng-disabled="!authenticated()">{{'cheque' | translate}}</md-tab>
            <md-tab ui-sref="cheque.profile" ng-if="security.hasRole('ROLE_ADMIN')">{{'administration' | translate}}</md-tab>
        </md-tabs>

        <md-content layout-align="center end" flex="30">

            <md-content layout="row" layout-padding layout-align="end end" flex ng-show="!!$root.currencyRates.addDate">
                <h4>{{'currency rates' | translate}} {{$root.currencyRates.addDate | amDateFormat: 'll'}}</h4>
                <md-content layout="row" class="currency-rates">
                    <h4>USD {{$root.currencyRates["usd"]}}<span class="sign">₽</span>,</h4>
                    <h4>UAH {{$root.currencyRates["uah"]}}<span class="sign">₽</span></h4>
                </md-content>
            </md-content>

        </md-content>

        <md-content layout-padding layout="row" layout-align="end end" flex="20" class="login-panel">
            <span>{{profileName()}}</span>
            <md-button type="button" ng-if="authenticated()" ng-click="logout()" class="md-icon-button logout">
                <md-icon md-font-set="material-icons" aria-label="exit_to_app">exit_to_app</md-icon>
            </md-button>
        </md-content>

    </md-content>

    <img class="invisible-picture" src="/images/logo.png">

</md-content>
<md-divider ng-show="authenticated()"></md-divider>