<section class="table-block md-whiteframe-z1">

    <md-toolbar>
        <h2 class="md-toolbar-tools">
            <span translate>Checks</span>
        </h2>
    </md-toolbar>

    <md-progress-linear ng-show="loading" md-mode="indeterminate"></md-progress-linear>

    <md-data-table-container>
        <table md-data-table id="table">
            <thead md-order="$root.tableFilter.order" md-trigger="onOrderChange">
            <tr>
                <th name="{{'Id'| translate}}" order-by="id"></th>
                <th name="{{'Customer'| translate}}" order-by="customerName"></th>
                <th name="{{'Introduced'| translate}}" order-by="receiptDate"></th>
                <th name="{{'Name of Product'| translate}}" order-by="productName"></th>
                <th name="{{'Model'| translate}}" order-by="modelName"></th>
                <th name="{{'Serial Number'| translate}}" order-by="serialNumber"></th>
                <th name="{{'Purchaser'| translate}}" order-by="representativeName"></th>
                <th name="{{'Inspector'| translate}}" order-by="secretary.fullname"></th>
                <th name="{{'master'| translate}}" order-by="engineer.fullname"></th>
                <th name="{{'Guarantee'| translate}}" order-by="warrantyDate"></th>
                <th name="{{'Ready'| translate}}" order-by="readyDate"></th>
                <th name="{{'Issued'| translate}}" order-by="returnedToClientDate"></th>

            </tr>
            </thead>
            <tbody md-auto-select>
            <tr ng-repeat="cheque in $root.chequeList
				| orderBy: $root.tableFilter.order
				| limitTo: $root.tableFilter.limit: ($root.tableFilter.page - 1) * $root.tableFilter.limit"
                ng-click="open($event, cheque.id)" ui-sref="cheque.edit({chequeId:cheque.id})">
                <td>{{cheque.id}}</td>
                <td>{{cheque.customerName}}</td>
                <td>{{cheque.receiptDate | amDateFormat:'DD.MM.YYYY'}}</td>
                <td>{{cheque.productName}}</td>
                <td>{{cheque.modelName}}</td>
                <td>{{cheque.serialNumber}}</td>
                <td>{{cheque.representativeName}}</td>
                <td>{{cheque.secretary.fullname}}</td>
                <td>{{cheque.engineer.fullname}}</td>
                <td>{{cheque.warrantyDate | amDateFormat:'DD.MM.YYYY'}}</td>
                <td>{{cheque.readyDate | amDateFormat:'DD.MM.YYYY'}}</td>
                <td>{{cheque.returnedToClientDate | amDateFormat:'DD.MM.YYYY'}}</td>
            </tr>
            </tbody>
        </table>
    </md-data-table-container>

    <md-data-table-toolbar layout-align="center center">
        <md-data-table-pagination md-label="label" md-row-select="[15, 20, 30, 40, 50]" md-limit="$root.tableFilter.limit" md-page="$root.tableFilter.page" md-total="{{$root.chequeList.length}}" md-trigger="onPageChange"></md-data-table-pagination>
    </md-data-table-toolbar>

</section>