<table class="printing-table">
    <thead>
    <tr>
        <td colspan="3" class="grey center border">Сервисный центр "СТИМ-СЕРВИС"</td>
    </tr>
    </thead>

    <tbody>
    <tr class="narrowly">
        <td>
            <div class="text">
                <img ng-if="spec.client" src="/images/logo.png">
                <div class="date-field text">Дата приема:
                    <span class="date">{{cheque.receiptDate | amDateFormat:'DD.MM.YYYY'}}</span>
                    <span class="time" ng-if="spec.tech">{{cheque.receiptDate | amDateFormat:'HH:mm:ss'}}</span>
                </div>
                <div ng-if="!!cheque.warrantyStatus" class="text">
                    Дата продажи: <span class="date">{{cheque.warrantyDate | amDateFormat:'DD.MM.YYYY'}}</span>
                </div>
                <div>
                    <div ng-if="!!cheque.warrantyStatus" class="text">
                        Принято для подтверждения гарантийного статуса: {{cheque.customerName}}
                    </div>
                    <div ng-if="!!!cheque.warrantyStatus" class="text">
                        Принято на диагностику: {{cheque.customerName}}
                    </div>
                </div>
            </div>
        </td>
        <td class="center bold">Расписка: <span class="border bold cheque-number">№ {{cheque.id}}</span></td>
        <td class="center">
            <div ng-if="spec.client">
                <div class="bold">Телефон:</div>
                <div>(099) 396-05-73 (Viber),</div>
                <div>(071) 333-47-43 (Viber, WhatsApp)</div>
                <div class="bold padding-top">E-mail:</div>
                <div>steamservice@stels.net</div>
                <div class="bold padding-top">Режим работы:</div>
                <div>пн-пт: 10:00 - 17:00</div>
            </div>
        </td>
    </tr>

    <tr class="grey">
        <td class="grey center third border">Наименование</td>
        <td class="grey center third border">Модель</td>
        <td class="grey center third border">Серийный номер</td>
    </tr>
    <tr>
        <td class="center border">{{cheque.productName}}</td>
        <td class="center border">{{cheque.modelName}}</td>
        <td class="center border">{{cheque.serialNumber}}</td>
    </tr>

    <tr>
        <td colspan="3" class="border">Неисправность: {{cheque.defect}}</td>
    </tr>

    <tr>
        <td colspan="3" class="border">Отметки: {{cheque.specialNotes}}</td>
    </tr>

    <tr>
        <td class="border" colspan="2">Комплект: {{getComponents()}}</td>
        <td class="border right" ng-if="!!cheque.warrantyStatus"><span ng-if="$root.balance.estimatedCost > 0">{{$root.balance.estimatedCost}} руб.</span></td>
        <td class="border right" ng-if="!!!cheque.warrantyStatus"><span ng-if="$root.balance.estimatedCost > 0">Ориентировочная стоимость: {{$root.balance.estimatedCost}} руб.</span></td>
    </tr>

    <tr class="narrowly" ng-if="spec.office || spec.client">
        <td colspan="3">
            <div class="text">
                <div>Окончательная сумма ремонта согласовывается после диагностики, срок диагностики в теченнии 3-х рабочих дней</div>
                <div>Ориентировочный срок ремонта: 99 дн.(но не более 5-ти рабочих дней с момента поступления запчастей)</div>
                <div>Сервисный центр не несет ответственности за сохранность информации</div>
                <div>В случае отказа от ремонта клиент обязан оплатить диагностику или выполненные работы</div>
            </div>
        </td>
    </tr>

    <tr ng-if="spec.office">
        <td class="grey border">Мастер</td>
        <td class="border" colspan="2">{{cheque.engineer.fullname}}</td>
    </tr>

    <tr>
        <td class="grey border">Принял в ремонт</td>
        <td class="border" colspan="2">{{cheque.secretary.fullname}}</td>
    </tr>

    <tr>
        <td class="grey border">Сдал в ремонт</td>
        <td class="border" colspan="2">{{cheque.representativeName}}</td>
    </tr>

    <tr ng-if="spec.office || spec.tech">
        <td class="grey border">Контактная информация</td>
        <td class="border" colspan="2">{{cheque.phoneNumber}} {{cheque.email}}</td>
    </tr>

    <tr ng-if="spec.office || spec.tech">
        <td class="grey border">Адрес</td>
        <td class="border" colspan="2">{{cheque.address}}</td>
    </tr>

    <tr ng-if="spec.client">
        <td class="grey border" colspan="3">
            Внимание! Для получения оборудования необходимо произвести оплату стоимости ремонта (работ), иметь при себе расписку.
        </td>
    </tr>

    <tr ng-if="spec.client">
        <td colspan="3" class="sign">
            Получено из ремонта: "___________" _____________________________________ 20_______г. _____________________(Подпись)
        </td>
    </tr>

    </tbody>

</table>