<section class="content-block">
    <form name="filterForm" id="filterForm" class="md-whiteframe-z1" ng-submit="sendFilterPreferences()">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>
                    <span translate>Filters</span>
                </h2>
                <span flex></span>
                <md-button type="button" class="md-icon-button" ng-click="resetFilter()">
                    <md-icon md-font-set="material-icons">delete</md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-content class="dates-field" layout="row" layout-align="space-around end" flex>

            <md-content layout="column" layout-align="end center">
                <date-picker ng-model="filter.introducedFrom" md-placeholder="'IntroducedFrom'"></date-picker>
            </md-content>

            <md-content layout="column" layout-align="end center">
                <date-picker ng-model="filter.introducedTo" md-placeholder="'IntroducedTo'"></date-picker>
            </md-content>

        </md-content>

        <md-content layout-padding layout="row" layout-sm="column" layout-align="center start" class="text-field">

            <md-input-container flex="10">
                <label translate>Id</label>
                <input ng-model="filter.id">
            </md-input-container>

            <md-autocomplete flex="90"
                             md-search-text="filter.customerName"
                             md-no-cache="true"
                             md-min-length="1"
                             md-search-text-change=""
                             md-items="item in items | filter: filter.customerName"
                             md-item-text="item"
                             md-floating-label="{{'Customer' | translate}}"
                             md-autofocus="false"
                             md-autoselect="true"
                             ng-click="serverItems('customerName')">
                <md-item-template>
                    <span md-highlight-text="filter.customerName" md-highlight-flags="^i"> {{item}} </span>
                </md-item-template>
            </md-autocomplete>

        </md-content>

        <md-content layout-padding layout="row" layout-sm="column" layout-align="center start" class="text-field">

            <md-autocomplete flex="40"
                             md-search-text="filter.productName"
                             md-no-cache="true"
                             md-min-length="1"
                             md-search-text-change=""
                             md-items="item in items | filter: filter.productName"
                             md-item-text="item"
                             md-floating-label="{{'Name of Product' | translate}}"
                             md-autofocus="false"
                             md-autoselect="true"
                             ng-click="serverItems('productName')">
                <md-item-template>
                    <span md-highlight-text="filter.productName" md-highlight-flags="^i"> {{item}} </span>
                </md-item-template>
            </md-autocomplete>

            <md-autocomplete flex="30"
                             md-search-text="filter.model"
                             md-no-cache="true"
                             md-min-length="1"
                             md-search-text-change=""
                             md-items="item in items | filter: filter.model"
                             md-item-text="item"
                             md-floating-label="{{'Model' | translate}}"
                             md-autofocus="false"
                             md-autoselect="true"
                             ng-click="serverItems('modelName')">
                <md-item-template>
                    <span md-highlight-text="filter.model" md-highlight-flags="^i"> {{item}} </span>
                </md-item-template>
            </md-autocomplete>

            <md-autocomplete flex="30"
                             md-search-text="filter.serialNumber"
                             md-no-cache="true"
                             md-min-length="1"
                             md-search-text-change=""
                             md-items="item in items | filter: filter.serialNumber"
                             md-item-text="item"
                             md-floating-label="{{'Serial Number' | translate}}"
                             md-autofocus="false"
                             md-autoselect="true"
                             ng-click="serverItems('serialNumber')">
                <md-item-template>
                    <span md-highlight-text="filter.serialNumber" md-highlight-flags="^i"> {{item}} </span>
                </md-item-template>
            </md-autocomplete>

        </md-content>

        <md-content layout-padding layout="row" layout-sm="column" layout-align="center start" class="text-field">

            <md-autocomplete flex="100"
                             md-search-text="filter.representativeName"
                             md-no-cache="true"
                             md-min-length="1"
                             md-search-text-change=""
                             md-items="item in items | filter: filter.representativeName"
                             md-item-text="item"
                             md-floating-label="{{'Purchaser' | translate}}"
                             md-autofocus="false"
                             md-autoselect="true"
                             ng-click="serverItems('representativeName')">
                <md-item-template>
                    <span md-highlight-text="filter.representativeName" md-highlight-flags="^i"> {{item}} </span>
                </md-item-template>
            </md-autocomplete>

        </md-content>

        <md-content layout-padding layout="row" layout-sm="column" layout-align="center start" class="text-field">

            <md-autocomplete flex="50"
                             md-search-text="filter.secretary"
                             md-no-cache="true"
                             md-min-length="1"
                             md-search-text-change=""
                             md-items="item in items | filter: filter.secretary"
                             md-item-text="item"
                             md-floating-label="{{'Inspector' | translate}}"
                             md-autofocus="false"
                             md-autoselect="true"
                             ng-click="serverItemsUser('secretaryName')">
                <md-item-template>
                    <span md-highlight-text="filter.secretary" md-highlight-flags="^i"> {{item}} </span>
                </md-item-template>
            </md-autocomplete>

            <md-autocomplete flex="50"
                             md-search-text="filter.engineer"
                             md-no-cache="true"
                             md-min-length="1"
                             md-search-text-change=""
                             md-items="item in items | filter: filter.engineer"
                             md-item-text="item"
                             md-floating-label="{{'master' | translate}}"
                             md-autofocus="false"
                             md-autoselect="true"
                             ng-click="serverItemsUser('engineerName')">
                <md-item-template>
                    <span md-highlight-text="filter.engineer" md-highlight-flags="^i"> {{item}} </span>
                </md-item-template>
            </md-autocomplete>

        </md-content>

        <md-content layout-padding layout="row" layout-align="center start" class="text-field">

            <md-select ng-model="filter.warrantyStatus" placeholder="{{'Guarantee' | translate}}" flex="25">
                <md-option value="true">{{'Has guarantee' | translate}}</md-option>
                <md-option value="false">{{'Has no guarantee' | translate}}</md-option>
            </md-select>

            <md-select ng-model="filter.readyStatus" placeholder="{{'Ready' | translate}}" flex="25">
                <md-option value="true">{{'Ready' | translate}}</md-option>
                <md-option value="false">{{'Not ready' | translate}}</md-option>
            </md-select>

            <md-select ng-model="filter.returnedToClientStatus" placeholder="{{'Issued' | translate}}" flex="25">
                <md-option value="true">{{'Issued' | translate}}</md-option>
                <md-option value="false">{{'Not issued' | translate}}</md-option>
            </md-select>

            <md-select ng-model="filter.paidStatus" placeholder="{{'paid' | translate}}" flex="25">
                <md-option value="true">{{'paid' | translate}}</md-option>
                <md-option value="false">{{'not paid' | translate}}</md-option>
            </md-select>

        </md-content>

        <md-content layout-padding layout="row" layout-sm="column" layout-align="center center">
            <md-button class="md-raised md-primary" type="submit" ng-disabled="filterForm.$invalid">
                <span translate>find</span>
            </md-button>
        </md-content>

    </form>
</section>

