<section class="content-block">
    <form name="filterForm" id="filterForm" class="md-whiteframe-z1">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>
                    <span translate>Filters</span>
                </h2>
                <span flex></span>
                <md-button type="button" class="md-icon-button" ng-click="resetFilter()">
                    <md-icon md-font-set="material-icons">delete</md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-content class="dates-field" layout="row" layout-align="space-around end" flex>

            <md-content layout="column" layout-align="end center">
                <p>{{ 'IntroducedFrom' | translate}}</p>
                <date-picker ng-model="filter.introducedFrom"></date-picker>
            </md-content>

            <md-content layout="column" layout-align="end center">
                <p>{{ 'IntroducedTo' | translate}}</p>
                <date-picker ng-model="filter.introducedTo"></date-picker>
            </md-content>

        </md-content>

        <md-content layout-padding layout="row" layout-sm="column" layout-align="center start">

            <md-input-container flex="10">
                <label translate>Id</label>
                <input ng-model="filter.id">
            </md-input-container>

            <md-autocomplete flex="90"
                             md-search-text="filter.customerName"
                             md-min-length="1"
                             md-search-text-change=""
                             md-items="cheque in cheques | filter: {customerName : filter.customerName} | unique:'customerName'"
                             md-item-text="cheque.customerName"
                             md-floating-label="{{'Customer' | translate}}"
                             md-autofocus="false">
                <md-item-template>
                    <span md-highlight-text="filter.customerName" md-highlight-flags="^i"> {{cheque.customerName}} </span>
                </md-item-template>
            </md-autocomplete>

            <!--<md-autocomplete flex="90"-->
                             <!--md-search-text="filter.customerName"-->
                             <!--md-no-cache="true"-->
                             <!--md-min-length="1"-->
                             <!--md-search-text-change=""-->
                             <!--md-items="item in items | filter: filter.customerName"-->
                             <!--md-item-text="item"-->
                             <!--md-floating-label="{{'Customer' | translate}}"-->
                             <!--md-autofocus="false"-->
                             <!--ng-click="serverItems('name_of_customer')">-->
                <!--<md-item-template>-->
                    <!--<span md-highlight-text="filter.customerName" md-highlight-flags="^i"> {{item}} </span>-->
                <!--</md-item-template>-->
            <!--</md-autocomplete>-->

        </md-content>

        <md-content layout-padding layout="row" layout-sm="column" layout-align="center start">

            <md-autocomplete flex="40"
                             md-search-text="filter.productName"
                             md-min-length="1"
                             md-search-text-change=""
                             md-items="cheque in cheques | filter: {productName : filter.productName} | unique:'productName'"
                             md-item-text="cheque.productName"
                             md-floating-label="{{'Name of Product' | translate}}"
                             md-autofocus="false">
                <md-item-template>
                    <span md-highlight-text="filter.productName" md-highlight-flags="^i"> {{cheque.productName}} </span>
                </md-item-template>
            </md-autocomplete>

            <md-autocomplete flex="30"
                             md-search-text="filter.model"
                             md-min-length="1"
                             md-search-text-change=""
                             md-items="cheque in cheques | filter: {model : filter.model} | unique:'model'"
                             md-item-text="cheque.model"
                             md-floating-label="{{'Model' | translate}}"
                             md-autofocus="false">
                <md-item-template>
                    <span md-highlight-text="filter.model" md-highlight-flags="^i"> {{cheque.model}} </span>
                </md-item-template>
            </md-autocomplete>

            <md-autocomplete flex="30"
                             md-search-text="filter.serialNumber"
                             md-min-length="1"
                             md-search-text-change=""
                             md-items="cheque in cheques | filter: {serialNumber : filter.serialNumber} | unique:'serialNumber'"
                             md-item-text="cheque.serialNumber"
                             md-floating-label="{{'Serial Number' | translate}}"
                             md-autofocus="false">
                <md-item-template>
                    <span md-highlight-text="filter.serialNumber" md-highlight-flags="^i"> {{cheque.serialNumber}} </span>
                </md-item-template>
            </md-autocomplete>

        </md-content>

        <md-content layout-padding layout="row" layout-sm="column" layout-align="center start">

            <md-autocomplete flex="100"
                             md-search-text="filter.representativeName"
                             md-min-length="1"
                             md-search-text-change=""
                             md-items="cheque in cheques | filter: {representativeName : filter.representativeName} | unique:'representativeName'"
                             md-item-text="cheque.representativeName"
                             md-floating-label="{{'Purchaser' | translate}}"
                             md-autofocus="false">
                <md-item-template>
                    <span md-highlight-text="filter.representativeName" md-highlight-flags="^i"> {{cheque.representativeName}} </span>
                </md-item-template>
            </md-autocomplete>

        </md-content>

        <md-content layout-padding layout="row" layout-sm="column" layout-align="center start">

            <md-autocomplete flex="50"
                             md-search-text="filter.secretary.fullname"
                             md-min-length="1"
                             md-search-text-change=""
                             md-items="cheque in cheques | filter: {secretary : filter.secretary.fullname} | unique:'secretary'"
                             md-item-text="cheque.secretary.fullname"
                             md-floating-label="{{'Inspector' | translate}}"
                             md-autofocus="false">
                <md-item-template>
                    <span md-highlight-text="filter.secretary.fullname" md-highlight-flags="^i"> {{cheque.secretary}} </span>
                </md-item-template>
            </md-autocomplete>

            <md-autocomplete flex="50"
                             md-search-text="filter.engineer.fullname"
                             md-min-length="1"
                             md-search-text-change=""
                             md-items="cheque in cheques | filter: {engineer : filter.engineer.fullname} | unique:'engineer'"
                             md-item-text="cheque.engineer.fullname"
                             md-floating-label="{{'master' | translate}}"
                             md-autofocus="false">
                <md-item-template>
                    <span md-highlight-text="filter.engineer.fullname" md-highlight-flags="^i"> {{cheque.engineer}} </span>
                </md-item-template>
            </md-autocomplete>

        </md-content>

        <md-content layout-padding layout="row" layout-align="center start">

            <md-select ng-model="filter.warrantyStatus" placeholder="{{'Guarantee' | translate}}" flex="25">
                <md-option value="true">{{'Has guarantee' | translate}}</md-option>
                <md-option value="false">{{'Has no guarantee' | translate}}</md-option>
            </md-select>

            <md-select ng-model="filter.readyStatus" placeholder="{{'Ready' | translate}}" flex="25">
                <md-option value="true">{{'Ready' | translate}}</md-option>
                <md-option value="false">{{'Not ready' | translate}}</md-option>
            </md-select>

            <md-select ng-model="filter.returnedToClientStatus" placeholder="{{'Issued' | translate}}" flex="25">
                <md-option value="true">{{'Issued' | translate}}</md-option>
                <md-option value="false">{{'Not issued' | translate}}</md-option>
            </md-select>

            <md-select ng-model="filter.paidStatus" placeholder="{{'paid' | translate}}" flex="25">
                <md-option value="true">{{'paid' | translate}}</md-option>
                <md-option value="false">{{'not paid' | translate}}</md-option>
            </md-select>

        </md-content>
    </form>
</section>

