@media screen {
    cheque-form:focus {
        outline: none;
    }

    cheque-form md-autocomplete {
        outline: none;
    }

    cheque-form md-checkbox.with-date {
        margin: 1rem 0 .3rem .8rem;
    }

    cheque-form md-content.dates-field md-content p.with-date {
        margin: 1rem 0 .3rem .8rem;
    }

    cheque-form .left-margin {
        margin-left: 36px;
    }

    cheque-form .flex100 {
        width: 100%;
    }

    cheque-form md-content.text-field {
        height: 80px;
    }

    cheque-form .md-char-counter {
        padding: 5px;
    }

    cheque-form md-content {
        overflow: hidden;
    }

    cheque-form md-content.dates-field md-checkbox .md-label {
        margin-left: 50px;
    }

    cheque-form md-content.dates-field md-checkbox.without-repair .md-label {
        margin-left: 30px;
    }

    cheque-form md-checkbox.without-repair {
        margin: 1rem 0 .8rem .8rem;
    }

    cheque-form .simple-input>label {
        margin-left: 8px;
    }

    cheque-form .width19 {
        width: 19%;
    }

    cheque-form .width16 {
        width: 16%;
    }

    cheque-form .width27 {
        width: 27%;
    }
    cheque-form .without-margin {
        margin: 0;
    }

}