@media screen {

    header h4 {
        margin: 0;
        color: #797979;
        font-weight: normal;
    }

    header md-content.currency-rates h4 {
        font-family: 'PT Sans', serif;
    }

}