<md-content md-theme="header" layout="row" layout-align="start start">

    <md-content layout="row" layout-align="center center" flex="50">

        <h4>{{'current currency rates' | translate}} {{$root.currencyRates.id | amDateFormat: 'll'}}:</h4>
        <md-content layout="row" class="currency-rates">
            <h4>USD: {{$root.currencyRates["usd"] | currency: '&#x20bd;'}},</h4>
            <h4>UAH: {{$root.currencyRates["uah"] | currency: "&#x20bd;"}}</h4>
        </md-content>

        <md-button type="button" class="md-icon-button" ng-click="refreshCurrencyRates()" md-theme="default">
            <md-icon md-font-set="material-icons" aria-label="delete">refresh</md-icon>
        </md-button>

    </md-content>

    <md-tabs md-selected="selectedTab" md-center-tabs="true" md-dynamic-height md-border-bottom flex="50">
        <md-tab ui-sref="cheque.filter" id="filters" ng-disabled="!authenticated()">{{'Filters' | translate}}</md-tab>
        <md-tab ui-sref="cheque.create" ng-disabled="!authenticated()">{{'cheque' | translate}}</md-tab>
        <md-tab ng-disabled="true">{{'analytics' | translate}}</md-tab>
        <md-tab ui-sref="cheque.profile" ng-disabled="!authenticated()">
            {{$root.user.name}}
        </md-tab>
        <md-tab ng-if="!authenticated()">{{'login' | translate}}</md-tab>
        <md-tab ng-if="authenticated()" ng-click="logout()">{{'logout' | translate}}</md-tab>
    </md-tabs>

</md-content>
<md-divider></md-divider>