@media screen {
    header #header>h2.md-toolbar-tools>.md-button {
        padding: 0.4em 1em;
        margin: 0;
        border-radius: 0;
    }

    header #header, md-toolbar .md-button{
        background-color: white;
        color: #3F51B5;
    }

    header #header {
        min-height: 0.7em;
    }

    header #header>.md-toolbar-tools {
        height: 2.5em;
        max-height: 2.5em;
        /*border-bottom: 1px solid #3F51B5;*/
    }

    header #header>h2.md-toolbar-tools>a.md-button:not([disabled]):hover, #header>h2.md-toolbar-tools>.md-button:not([disabled]):hover {
        background-color: rgba(63,81,181,0.1);
    }

    header md-tabs[md-border-bottom] md-tabs-wrapper {
        border-style: none;
    }
}