@media screen {

    header h4 {
        margin: 0;
        color: #797979;
        font-weight: normal;
    }

    /*header md-content.currency-rates h4 {*/
        /*font-family: 'Roboto', serif;*/
    /*}*/

    header md-content span{
        font-family: 'Roboto', serif;
    }

    header md-tabs[md-border-bottom] md-tabs-wrapper {
        border: none;
    }
}