<md-content class="comment-form">

    <form name="form" ng-submit="saveComment()" layout="column" layout-align="center center" layout-padding>

        <md-input-container>
            <textarea ng-model="comment.text" rows="2" required></textarea>
        </md-input-container>

        <md-button class="md-raised md-primary" type="submit" ng-disabled="form.$invalid">
            <span translate>Send</span>
        </md-button>

    </form>

</md-content>

<md-divider></md-divider>

<md-content layout-align="center start">

    <md-list class="comments-list" layout-padding>
        <md-list-item class="md-3-line" ng-repeat="comment in cheque[title] | orderBy: '-time' | limitTo: limit">

            <md-content layout="row" flex>
                <md-content class="md-list-item-text" flex="95">
                    <h3>{{comment.user}}</h3>
                    <h4>{{comment.time | amDateFormat:'lll'}}</h4>
                    <p>{{comment.text}}</p>
                </md-content>

                <md-content layout="column" layout-align="center center" flex="5">
                    <md-button class="md-icon-button" ng-click="deleteComment(comment.id)">
                        <md-icon md-font-set="material-icons">delete</md-icon>
                    </md-button>
                </md-content>

                <md-divider ng-if="!$last"></md-divider>
            </md-content>

        </md-list-item>
    </md-list>

    <md-button ng-click="limitComments()"
               id="show-more"
               du-smooth-scroll="show-more"
               class="bottom-toolbar"
               layout="column"
               ng-show="addedLesserThanElem()"
               layout-padding
               layout-align="center center">
        <div class="text">{{bottomButton | translate}}</div>
    </md-button>

</md-content>
