@media screen {
    comments-block:focus {
        outline: none;
    }

    comments-block p {
        margin: 0 5em 0 0;
    }

    comments-block form {
        margin: 0;
    }

    comments-block form md-input-container {
        padding: 1rem 3rem;
        width: 90%
    }

    comments-block .bottom-toolbar {
        background: #ffffff;
        width: 100%;
    }

    comments-block .bottom-toolbar div.text {
        font-size: 12px;
        margin: 0.5rem;
        color: #b6b6b6;
    }

    comments-block .bottom-toolbar div.md-ripple-container {
        border-radius: 0;
    }

    comments-block .comments-list {
        overflow: auto;
    }

    comments-block md-list-item.md-3-line md-content.md-list-item-text {
        padding: 1rem;
    }

    comments-block md-list-item.md-3-line {
        height: auto;
    }

    comments-block form md-content button {
        padding: 1rem;
    }

    comments-block md-content button.bottom-toolbar {
        margin: 0;
    }

    comments-block md-list {
        padding: 0;
    }

    comments-block .comments {
        overflow: hidden;
    }

    comments-block md-list md-list-item.md-3-line .md-list-item-text p {
        color: black;
        margin-top: 10px;
    }
}