@media screen {
    payment-block {
        margin: 0.5rem 0;
    }

    payment-block:focus {
        outline: none;
    }

    payment-block comments-block md-content.payment md-list.comments-list md-input-container.topay label {
        color: black;
    }

    payment-block comments-block .payment md-list.comments-list md-input-container {
        padding: 0 8px;
    }

    payment-block .payment md-list-item {
        padding: 0 0 0 10px;
    }

    payment-block md-toolbar button.md-icon-button.md-button {
        background-color: #FAFAFA;
    }

    payment-block .prediction {
        padding-bottom: 0.6rem;
    }

    payment-block md-list-item.md-3-line {
        min-height: 58px;
    }

    payment-block md-input-container {
        padding: 2px;
    }

    payment-block span.button-bar {
        width: 48px;
    }

    payment-block .inner-block {
        margin: 0.3rem 0;
    }

    payment-block .payment-lines {
        min-height: 0.5rem;
    }

    payment-block .sum {
        font-family: 'PT Sans', serif;
    }

    payment-block md-input-container.estimatedCost {
        margin-top: 40px;
        margin-bottom: 0;
    }

    payment-block md-checkbox {
        margin-bottom: 0;
    }

}