<section layout="column" class="content-block">

  <form name="edit" ng-submit="modifyCheque()" novalidate autocomplete="off" class="md-whiteframe-z1">

    <md-toolbar>

      <h2 class="md-toolbar-tools">
        <span translate>Change cheque №</span> {{cheque.id}}
      </h2>

      <md-button type="button" class="md-icon-button in-tool-bar delete-cheque" aria-label="deleteCheque" ng-click="deleteCheque()">
        <md-icon md-font-set="material-icons" aria-label="delete">delete</md-icon>
      </md-button>

    </md-toolbar>

    <md-content class="dates-field" layout="row" layout-align="space-around start" flex>

      <md-content layout="column" layout-align="end center">
        <p>{{ 'Introduced' | translate}}</p>
        <date-time-picker ng-model="cheque.introduced"></date-time-picker>
      </md-content>

      <md-content layout="column" layout-align="end center">
        <p>{{ 'Guarantee' | translate}}</p>
        <date-picker ng-model="cheque.guarantee"></date-picker>
      </md-content>

      <md-content layout="column" layout-align="end center">
        <p>{{ 'Ready' | translate}}</p>
        <date-picker ng-model="cheque.ready"></date-picker>
      </md-content>

      <md-content layout="column" layout-align="end center">
        <p>{{ 'Issued' | translate}}</p>
        <date-picker ng-model="cheque.issued"></date-picker>
      </md-content>

    </md-content>

    <md-content layout-padding layout="row" layout-sm="column" layout-align="center start">
      <md-input-container flex="75">
        <label translate>Customer</label>
        <input ng-model="cheque.nameOfCustomer">
      </md-input-container>

      <md-input-container flex="25">
        <label translate>Repair Period</label>
        <input type="number" min="1" max="99" ng-model="cheque.repairPeriod">
      </md-input-container>
    </md-content>

    <md-content layout-padding layout="row" layout-sm="column" layout-align="center start">
      <md-input-container flex="40">
        <label translate>Name of Product</label>
        <input ng-model="cheque.nameOfProduct">
      </md-input-container>

      <md-input-container flex="30">
        <label translate>Model</label>
        <input ng-model="cheque.model">
      </md-input-container>

      <md-input-container flex="30">
        <label translate>Serial Number</label>
        <input ng-model="cheque.serialNumber">
      </md-input-container>
    </md-content>

    <md-content layout-padding layout="row" layout-sm="column" layout-align="center start">
      <md-input-container flex>
        <label translate>Malfunction</label>
        <input ng-model="cheque.malfunction">
      </md-input-container>
    </md-content>

    <md-content layout-padding layout="row" layout-sm="column" layout-align="center start">
      <md-input-container flex>
        <label translate>Special Notes</label>
        <input ng-model="cheque.specialNotes">
      </md-input-container>
    </md-content>

    <md-content layout-padding layout="row" layout-sm="column" layout-align="center start">
      <md-input-container flex="30">
        <label translate >Purchaser</label>
        <input ng-model="cheque.purchaserName">
      </md-input-container>

      <md-input-container flex="35">
        <label translate>Address</label>
        <input ng-model="cheque.address">
      </md-input-container>

      <md-input-container flex="20">
        <label translate>Phone</label>
        <input ng-model="cheque.phone" ui-mask="+38 (999) 999 ‒  99 ‒  99" class="phone">
      </md-input-container>

      <md-input-container flex="15">
        <label translate>Email</label>
        <input ng-model="cheque.email">
      </md-input-container>
    </md-content>

    <md-content layout-padding layout="row" layout-sm="column" layout-align="center start">
      <md-input-container flex="50">
        <label translate>Master</label>
        <input ng-model="cheque.masterName">
      </md-input-container>

      <md-input-container flex="50">
        <label translate>Inspector</label>
        <input ng-model="cheque.inspectorName">
      </md-input-container>
    </md-content>

    <md-content layout-padding layout="row" layout-align="center start">
      <md-chips ng-model="cheque.kits" flex
      placeholder="{{'Kits' | translate}}"
      secondary-placeholder="{{'Kits' | translate}}"
      md-on-append="addKit($chip)">
        <md-chip-template>{{$chip.text}}</md-chip-template>
      </md-chips>
    </md-content>

    <md-content layout-padding layout="row" layout-sm="column" layout-align="center center">
      <md-button id="edit" class="md-raised md-primary" type="submit" ng-disabled="edit.$invalid">
        <span translate>Modify Check</span>
      </md-button>
    </md-content>

  </form>

  <div class="material-block">
    <md-content layout-align="center start" class="md-whiteframe-z1">

      <md-toolbar class="md-theme-light">
        <h2 class="md-toolbar-tools">
          <span translate>Diagnostics</span>
        </h2>
      </md-toolbar>

      <md-content layout-padding layout-align="center start">

        <form name="diagnostics" ng-submit="saveDiagnostic()" layout="row" class="comments">
          <md-input-container flex="90">
            <textarea flex ng-model="diagnostic.text" columns="1" aria-label="diagnostic" required></textarea>
          </md-input-container>

          <md-content layout="row" layout-sm="column" layout-align="center center" flex="10">
            <md-button id="addDiagnostic" class="md-raised md-primary" type="submit" ng-disabled="diagnostics.$invalid">
              <span translate>Send</span>
            </md-button>
          </md-content>
        </form>

      </md-content>

      <md-content layout-padding layout-align="center start">

        <md-list class="comments-list">
          <md-list-item class="md-3-line" ng-repeat="diagnostic in cheque.diagnostics | orderBy: '-time'" ng-click="editDiagnostic()">
            <div class="md-list-item-text">
              <h3>{{diagnostic.user}}</h3>
              <h4>{{diagnostic.time | amDateFormat:'lll'}}</h4>
              <p>{{diagnostic.text}}</p>
              <md-icon class="md-secondary" md-font-set="material-icons" ng-click="removeDiagnostic(diagnostic.id)" aria-label="deleteDiagnostic">delete</md-icon>
            </div>
            <md-divider ng-if="!$last"></md-divider>
          </md-list-item>
        </md-list>

      </md-content>

    </md-content>
  </div>

  <div class="material-block">
    <md-content layout-align="center start" class="md-whiteframe-z1">

      <md-toolbar class="md-theme-light">
        <h2 class="md-toolbar-tools">
          <span translate>Notes</span>
        </h2>
      </md-toolbar>

      <md-content layout-padding layout-align="center start">

        <form name="notes" ng-submit="saveNote()" layout="row" class="comments">
          <md-input-container flex="90">
            <textarea flex ng-model="note.text" columns="1" aria-label="note" required></textarea>
          </md-input-container>

          <md-content layout="row" layout-sm="column" layout-align="center center" flex="10">
            <md-button id="addNote" class="md-raised md-primary" type="submit" ng-disabled="notes.$invalid">
              <span translate>Send</span>
            </md-button>
          </md-content>

        </form>

      </md-content>

      <md-content layout-padding layout-align="center start">

        <md-list class="comments-list">
          <md-list-item class="md-3-line" ng-repeat="note in cheque.notes | orderBy: '-time'" ng-click="editNote()">
            <div class="md-list-item-text">
              <h3>{{note.user}}</h3>
              <h4>{{note.time | amDateFormat:'lll'}}</h4>
              <p>{{note.text}}</p>
              <md-icon class="md-secondary" md-font-set="material-icons" ng-click="removeNote(note.id)" aria-label="delete">delete</md-icon>
            </div>

            <md-divider ng-if="!$last"></md-divider>
          </md-list-item>
        </md-list>

      </md-content>

    </md-content>
  </div>

</section>