<md-content md-theme="header" layout="row" layout-align="center start">

  <md-tabs md-selected="data.selectedIndex" md-center-tabs="true" md-dynamic-height md-border-bottom flex>
      <md-tab ui-sref="cheque.filter" id="filters">{{'Filters' | translate}}</md-tab>
      <md-tab ng-disabled="data.disabledEdit">{{'Change cheque' | translate}}</md-tab>
      <md-tab ui-sref="cheque.create">{{'Create New Check' | translate}}</md-tab>
      <md-tab ng-disabled="true">{{'dashboard' | translate}}</md-tab>
      <md-tab ng-disabled="true">{{'analytics' | translate}}</md-tab>
      <md-tab ng-disabled="true">{{'settings' | translate}}</md-tab>
      <md-tab ng-disabled="true">{{'profile' | translate}}</md-tab>
      <md-tab ng-disabled="true">{{'login' | translate}}</md-tab>
  </md-tabs>

</md-content>