<html ng-app="mainModule">
<head>
	<link rel="stylesheet" href="stylesheets/design.min.css" media="screen">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href="stylesheets/main.min.css" rel="stylesheet" media="screen"/>
	<link href="stylesheets/print.css" rel="stylesheet" media="print"/>
	<link href="stylesheets/angularPrint.css" rel="stylesheet" media="print"/>
</head>

<body>
	<ui-view name="header"></ui-view>
	<ui-view name="content"></ui-view>

	<script src="javascript/bower.min.js"></script>
	<script src="javascript/application.min.js"></script>

</body>
</html>

