@media screen {
    payment-block {
        margin: 0.5rem 0;
    }

    payment-block:focus {
        outline: none;
    }

    payment-block comments-block md-content.payment md-list.comments-list md-input-container.topay label {
        color: black;
    }

    payment-block comments-block .payment md-list.comments-list md-input-container {
        padding: 0 8px;
    }

    payment-block md-icon:focus {
        outline: 0;
    }

    payment-block .payment md-list-item {
        padding: 0 0 0 10px;
    }

    payment-block md-toolbar button.md-icon-button.md-button {
        background-color: #FAFAFA;
    }

    payment-block md-toolbar button.md-icon-button.md-button md-icon {
        color: #3F51B5;
    }

    payment-block .prediction {
        padding-bottom: 0.6rem;
    }


}