@media screen {
    analytics-page .analytics-content {
        width: 100%;
    }

    analytics-page td {
        height:  2rem;
        width:  8rem;
        text-align: center;
    }

    analytics-page table {
        margin: 1rem;
        border-collapse: collapse;
    }
}