<section layout="column" layout-align="center center" flex>

    <form name="form" ng-submit="getAnalytics()" layout="column" layout-align="start start" class="md-whiteframe-z1 content-block">

        <md-toolbar>
            <h2 class="md-toolbar-tools">
                {{'analytics' | translate}}
            </h2>
        </md-toolbar>

        <md-content layout-padding class="analytics-content" flex>

            <md-content class="dates-field" layout="row" layout-align="space-around end" flex>

                <md-content layout="column" layout-align="end center">
                    <date-picker ng-model="preferences.findFrom" md-placeholder="'IntroducedFrom'"></date-picker>
                </md-content>

                <md-content layout="column" layout-align="end center">
                    <date-picker ng-model="preferences.findTo" md-placeholder="'IntroducedTo'"></date-picker>
                </md-content>

            </md-content>

            <md-content layout-padding layout="row" layout-sm="column" layout-align="center center">
                <md-button class="md-raised md-primary" type="submit" ng-disabled="form.$invalid">
                    <span translate>find</span>
                </md-button>
            </md-content>

        </md-content>

    </form>


</section>