<md-content class="inner-block">

    <md-toolbar md-theme="inner-block"
                ngf-drop ngf-select
                ng-model="files"
                class="drop-box"
                ngf-drag-over-class="dragover"
                ngf-multiple="true"
                ngf-allow-dir="true"
                accept="image/*"
                ngf-pattern="'image/*'">

        <div class="md-toolbar-tools">
            <h2>{{'drop photographies here' | translate}}</h2>
            <span flex></span>
            <md-icon class="material-icons">file_upload</md-icon>
        </div>
    </md-toolbar>

    <md-content class="photo-content">

        <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>

        <md-content layout="column">

            <md-list>

                <md-list-item ng-repeat="photo in $root.photoList | orderBy: 'id'" ng-click="openPhoto(photo.id)">
                    <p flex="60">{{photo.name}}</p>
                    <p flex="15">{{photo.username}}</p>
                    <p flex="25">{{photo.addDate | amDateFormat:'LLL'}}</p>
                    <md-icon class="material-icons md-secondary"
                             ng-show="security.hasRole('ROLE_ADMIN')"
                             type="button"
                             ng-click="deletePhoto(photo.id, $event)"
                             aria-label="Delete photo">delete</md-icon>
                </md-list-item>

            </md-list>

        </md-content>

    </md-content>

</md-content>