<section layout="column" layout-align="center center" flex>

    <section class="content-block md-whiteframe-z1">

        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{'users' | translate}}</h2>

                <span flex></span>

                <md-button type="button" class="md-icon-button" ng-click="addUser()">
                    <md-icon md-font-set="material-icons">person_add</md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-content>
            <md-tabs md-border-bottom md-dynamic-height>
                <md-tab ng-repeat="user in users | orderBy: 'username'" label="{{user.fullname}}">
                    <user-details ng-model="user"></user-details>
                </md-tab>
            </md-tabs>
        </md-content>

    </section>

    <md-content class="content-block md-whiteframe-z1">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{'currency rates' | translate}}</h2>
            </div>
        </md-toolbar>

        <md-content layout-padding>

            <md-list layout="row" layout-align="center center">
                <md-list-item class="day" ng-repeat="rate in rates | orderBy: 'addDate'" layout-wrap layout="row" layout-align="center center">
                    <currency-rate-day ng-model="rate"></currency-rate-day>
                </md-list-item>
            </md-list>

        </md-content>

    </md-content>

</section>