@media screen {
    filter-form md-autocomplete[md-floating-label] md-input-container {
        padding: 2px;
    }

    filter-form md-content.dates-field md-content p {
        margin: 1rem 0 0 0;
    }

    filter-form md-content.text-field {
        height: 78px;
        overflow: hidden;
    }

    filter-form md-content.dates-field {
        margin-top: 1.7rem ;
    }

    filter-form md-content.text-field.after-date {
        padding-top: 0;
    }

    filter-form md-autocomplete {
        outline: none;
    }
}