@media screen {
    cheque-page:focus {
        outline: none;
    }

    cheque-page md-tab-item {
        width: 50%;
    }

    /* Chips in create and edit*/

    .md-chips .md-chip-input-container {
        font-size: 16px;
        padding-left: 2px;
    }

    cheque-page md-tabs {
        background: #ffffff;
        border: 1px solid #e1e1e1;
    }
}