<section layout="column" class="content-block">

    <cheque-form ng-model="cheque" has-id="hasID"></cheque-form>

    <md-content md-theme="tabs" ng-show="hasID" class="md-whiteframe-z1" id="com">
        <md-tabs md-dynamic-height md-border-bottom md-stretch-tabs="always" class="content-block" md-theme="default">
            <md-tab label="{{'diagnostics' | translate}}">
                <comments-block ng-model="cheque" title="'diagnostics'"></comments-block>
            </md-tab>
            <md-tab label="{{'notes' | translate}}">
                <comments-block ng-model="cheque" title="'notes'"></comments-block>
            </md-tab>
        </md-tabs>
    </md-content>

</section>

<section class="print-only" ng-show="hasID">
    <print-cheque ng-model="cheque" specialization="'office'"></print-cheque>
    <print-cheque ng-model="cheque" specialization="'tech'"></print-cheque>
    <print-cheque ng-model="cheque" specialization="'client'"></print-cheque>
</section>