<section layout="column" layout-align="center center" flex>

    <cheque-form ng-model="cheque" has-id="hasID" printable="printable" class="content-block"></cheque-form>

    <md-content ng-show="hasID" class="content-block md-whiteframe-z1 comments-block">
        <md-tabs md-dynamic-height md-border-bottom md-stretch-tabs="always">
            <md-tab label="{{'photographies' | translate}}">
                <photo-block cheque-id="chequeID"></photo-block>
            </md-tab>
            <md-tab label="{{'payment' | translate}}">
                <payment-block cheque-id="chequeID" payment-form="paymentForm"></payment-block>
            </md-tab>
            <md-tab label="{{'diagnostics' | translate}}">
                <comments-block ng-model="cheque" type="'diagnostics'"></comments-block>
            </md-tab>
            <md-tab label="{{'notes' | translate}}">
                <comments-block ng-model="cheque" type="'notes'"></comments-block>
            </md-tab>
        </md-tabs>
    </md-content>

    <span id="show-more" class="hidden"></span>

</section>

<section class="print-only" ng-if="hasID && printable">
    <print-cheque ng-model="cheque" specialization="'office'"></print-cheque>
    <print-cheque ng-model="cheque" specialization="'tech'"></print-cheque>
    <print-cheque ng-model="cheque" specialization="'client'"></print-cheque>
</section>