<form name="form" ng-submit="sendCheque()" novalidate autocomplete="off" class="md-whiteframe-z1" ng-show="!!cheque">

    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>
                <span ng-show="hasID">{{'Change cheque' | translate}} №{{cheque.id}}</span>
                <span ng-hide="hasID">{{'new cheque' | translate}}</span>
            </h2>

            <span flex></span>

            <md-button type="button" class="md-icon-button" ng-click="printCheque()" ng-show="hasID">
                <md-icon md-font-set="material-icons" aria-label="delete">print</md-icon>
            </md-button>

            <md-button type="button" class="md-icon-button" ng-click="deleteCheque($event)" ng-show="hasID && security.hasRole('ROLE_ADMIN')">
                <md-icon md-font-set="material-icons">delete</md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-content class="dates-field" layout="row" layout-align="space-around start" flex>

        <md-content layout="column" layout-align="end center">
            <p class="with-date">{{ 'Introduced' | translate}}</p>
            <date-time-picker ng-model="cheque.introducedDate" ng-disabled="disableChequeForm"></date-time-picker>
        </md-content>

        <md-content layout="column" layout-align="end center">
            <md-checkbox ng-model="cheque.hasGuaranteeStatus"
                         class="md-primary with-date"
                         ng-disabled="disableChequeForm">
                <p>{{ 'Guarantee' | translate}}</p>
            </md-checkbox>
            <date-picker ng-model="cheque.guaranteeDate"
                         ng-disabled="!cheque.hasGuaranteeStatus || disableChequeForm"></date-picker>
        </md-content>

        <md-content layout="column" layout-align="end center" ng-show="hasID">
            <md-checkbox ng-model="cheque.hasReadyStatus"
                         class="md-primary with-date"
                         ng-disabled="disableChequeForm">
                <p>{{ 'Ready' | translate}}</p>
            </md-checkbox>
            <date-picker ng-model="cheque.readyDate"
                         ng-disabled="!cheque.hasReadyStatus || disableChequeForm"></date-picker>
        </md-content>

        <md-content layout="column" layout-align="end center" ng-show="hasID">
            <md-checkbox ng-model="cheque.hasIssuedStatus"
                         class="md-primary with-date"
                         ng-disabled="disableChequeForm">
                <p>{{ 'Issued' | translate}}</p>
            </md-checkbox>
            <date-picker ng-model="cheque.issuedDate"
                         ng-disabled="!cheque.hasIssuedStatus || disableChequeForm"></date-picker>
        </md-content>

    </md-content>

    <md-content layout-padding layout="row" layout-sm="column" layout-align="center start" class="text-field">
        <md-input-container flex="75" class="md-icon-float">
            <label translate>Customer</label>
            <md-icon md-font-set="material-icons">people</md-icon>
            <input ng-model="cheque.nameOfCustomer" required ng-disabled="disableChequeForm">
        </md-input-container>

        <md-input-container flex="25" class="md-icon-float">
            <label translate>Repair Period</label>
            <input type="number" min="1" max="99" ng-model="cheque.repairPeriod">
        </md-input-container>
    </md-content>

    <md-content layout-padding layout="row" layout-sm="column" layout-align="center start" class="text-field">
        <md-input-container flex="40" class="md-icon-float">
            <label translate>Name of Product</label>
            <md-icon md-font-set="material-icons">desktop_windows</md-icon>
            <input ng-model="cheque.nameOfProduct" required ng-disabled="disableChequeForm">
        </md-input-container>

        <md-input-container flex="30" class="md-icon-float">
            <label translate>Model</label>
            <input ng-model="cheque.model" required ng-disabled="disableChequeForm">
        </md-input-container>

        <md-input-container flex="30" class="md-icon-float">
            <label translate>Serial Number</label>
            <input ng-model="cheque.serialNumber" required ng-disabled="disableChequeForm">
        </md-input-container>
    </md-content>

    <md-content layout-padding layout="row" layout-sm="column" layout-align="center start" class="text-field">
        <md-input-container flex class="md-icon-float">
            <label translate>Malfunction</label>
            <md-icon md-font-set="material-icons">local_hospital</md-icon>
            <input ng-model="cheque.malfunction" ng-disabled="disableChequeForm" md-maxlength="150">
        </md-input-container>
    </md-content>

    <md-content layout-padding layout="row" layout-sm="column" layout-align="center start" class="text-field">
        <md-input-container flex class="md-icon-float">
            <label translate>Special Notes</label>
            <md-icon md-font-set="material-icons">book</md-icon>
            <input ng-model="cheque.specialNotes" ng-disabled="disableChequeForm" md-maxlength="150">
        </md-input-container>
    </md-content>

    <md-content layout-padding layout="row" layout-sm="column" layout-align="center start" class="text-field">
        <md-input-container flex="30" class="md-icon-float">
            <label translate >Purchaser</label>
            <md-icon md-font-set="material-icons">account_box</md-icon>
            <input ng-model="cheque.purchaserName" required ng-disabled="disableChequeForm">
        </md-input-container>

        <md-input-container flex="30" class="md-icon-float">
            <label translate>Address</label>
            <input ng-model="cheque.address" ng-disabled="disableChequeForm">
        </md-input-container>

        <md-input-container flex="20" class="md-icon-float">
            <label translate>Phone</label>
            <input ng-model="cheque.phone" ui-mask="(999) 999 ‒  99 ‒  99" class="phone" ng-disabled="disableChequeForm">
        </md-input-container>

        <md-input-container flex="20" class="md-icon-float">
            <label translate>Email</label>
            <input ng-model="cheque.email" ng-disabled="disableChequeForm">
        </md-input-container>
    </md-content>

    <md-content layout-padding layout="row" layout-sm="column" layout-align="center start" class="text-field">

        <md-icon md-font-set="material-icons" class="not-in-form">face</md-icon>

        <user-select ng-model="cheque.engineer"
                     title="'master'"
                     ng-disabled="disableChequeForm"
                     class="left-margin"
                     flex="50"></user-select>

        <user-select ng-model="cheque.secretary"
                     title="'Inspector'"
                     ng-disabled="disableChequeForm"
                     flex="50"></user-select>
    </md-content>

    <md-content layout-padding layout="row" layout-align="center start">
        <md-chips ng-model="cheque.kits" flex
                  placeholder="{{'Kits' | translate}}"
                  secondary-placeholder="{{'Kits' | translate}}"
                  md-on-append="addKit($chip)">
            <md-chip-template>{{$chip.text}}</md-chip-template>
        </md-chips>
    </md-content>

    <md-content layout-padding layout="row" layout-sm="column" layout-align="center center">
        <md-button class="md-raised md-primary" type="submit" ng-disabled="form.$invalid">
            <span translate>Modify Check</span>
        </md-button>
    </md-content>

</form>