@media screen {
    cheque-form:focus {
        outline: none;
    }

    cheque-form md-input-container md-icon {
        color: #3F51B5;
    }

    cheque-form md-checkbox.with-date {
        margin: 1rem 0 0 0;
    }

    cheque-form md-content.dates-field md-content p.with-date {
        margin: 1.5rem 0 0 0;
    }

    cheque-form .left-margin {
        margin-left: 36px;
    }

    cheque-form .left-margin md-icon {
        top: 17px;
        left: -34px;
        position: absolute;
    }

    cheque-form md-content.text-field {
        height: 78px;
    }
}