html {}

section.content-block:first-child {
    margin: 1rem 7rem 0 7rem;
}

section.content-block {
    margin: .25rem 7rem;
    max-width: 1400px;
    min-width: 800px;
}

/* Loading bar */

#loading-bar .bar {
    background: #3F51B5;
}

/* Dates fields in filters, create and edit*/

md-content.dates-field md-content p {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: rgba(0,0,0,0.26);
    margin: 0;
}

.md-calendar-month td{
    font-size: 13px;
}

md-toolbar button.md-icon-button.md-button {
    background-color: #3F51B5;
    color:white
}