html {}

body {
    zoom: 85%;
}

md-content {
    display: block;
    position: inherit;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

body>div.md-select-menu-container,
body>div.md-datepicker-calendar-pane,
body>div.md-dialog-container,
body>div.md-scroll-mask {
    zoom: 100%;
}

body>div {
    zoom: 117%;
}

body div.md-dialog-container md-dialog {
    width: 25rem;
}

body div.md-dialog-container md-dialog h2 {
    font-weight: bold;
}

body div.md-dialog-container md-dialog p {
    line-height: 1.2rem;
}

.layout-padding button.md-button {
    padding: 0;
}


.content-block:first-child {
    margin-top: 1rem;
    margin-bottom: .5rem;
}

.content-block {
    width: 1000px;
    margin: .5rem 0;
}

/* Loading bar */

#loading-bar .bar {
    background: white;
    /*background: #212121;*/
}

/* Dates fields in filters, create and edit*/

md-content.dates-field md-content p {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: rgba(0,0,0,.80);
    margin: 0;
}

md-toolbar button.md-icon-button.md-button {
    background-color: #212121;
    color:white;
}

md-icon.md-default-theme, md-icon {
    color: #212121;
}

md-icon:focus {
    outline: 0;
}

md-toast {
    position: fixed;
    top: 1rem;
    right: 1rem;
}

.dates-field md-content {
    overflow: hidden;
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: local('Material Icons'), local('MaterialIcons-Regular'), url(/fonts/material-icon.woff2) format('woff2');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'), url(/fonts/roboto-cyrillic-ext.woff2) format('woff2');
    unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}

md-list-item.md-2-line .md-list-item-text,
md-list-item.md-2-line>.md-no-style .md-list-item-text,
md-list-item.md-3-line .md-list-item-text,
md-list-item.md-3-line>.md-no-style .md-list-item-text {
    flex: inherit;
}