html {}

.content-block:first-child {
    margin-top: 1rem;
    margin-bottom: .5rem;
}

.content-block {
    width: 1000px;
    margin: .5rem 0;
}

/* Loading bar */

#loading-bar .bar {
    background: #212121;
}

/* Dates fields in filters, create and edit*/

md-content.dates-field md-content p {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: rgba(0,0,0,0.26);
    margin: 0;
}

md-toolbar button.md-icon-button.md-button {
    background-color: #212121;
    color:white;
}

md-icon.md-default-theme, md-icon {
    color: #212121;
}

md-icon:focus {
    outline: 0;
}