@media screen {

    time-picker md-content {
        font-size: 15px;
    }

    time-picker md-content md-input-container{
        width: 1.5rem;
        padding: 4px 0 0 0;
    }

    time-picker span {
        padding: 4px 3px 0 3px;
    }

    time-picker md-input-container {
        margin: 0;
    }

}
